<html>
	<head>
		<title> OURWALMART GET RESULTS IN 2014</title>  
		<link rel="stylesheet" type="text/css" href="TESTstyles5.css">
	</head>

	<body>
<!--    <div class="buttons">		<p><a href="ASSOCIATE.html">ASSOCIATE</a></p></div>-->
<!--	<div class="buttons">		<p><a href="MEMBER.html">MEMBER</a></p></div>-->
<!--	<div class="buttons">		<p><a href="ORGANIZER.html">ORGANIZER</a></p></div>-->
<!--	<div class="buttons">		<p><a href="ALLIANCES.html">ALLIANCES</a></p></div>-->


<!--the text in the quotes after value will appear on the button-->

<!--<input id="gobutton" type="submit" value="ASSOCIATE" />--> 
<!--<input id="gobutton" type="submit" value="MEMBER" />-->
<!--<input id="gobutton" type="submit" value="ORGANIZER" />-->
<!--<input id="gobutton" type="submit" value="ALLIANCES" />-->


<!--the text in the quotes after value will appear on the button-->

	<input id="bigbutton" type="submit" value="ASSOCIATE"  /> 
	<input id="bigbutton" type="submit" value="MEMBER"  /> 
	<input id="bigbutton" type="submit" value="ORGANIZER"  /> 
	<input id="bigbutton" type="submit" value="ALLIANCES"  /> 

	</body>
	</html>
